<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="payment-view">
    <template>

        <div>
            <p>This is template stuff and will be in shadow DOM</p>
            <div id="your-payment-div">payment div</div>
        </div>
        <div>[[setupResponse]]</div>

    </template>

    <script>
        class PaymentView extends Polymer.Element {
            static get is() {
                return 'payment-view';
            }

            afterServerUpdate(){
                console.log("CONSOLE LOG ENTRY FROM AFTER_SERVER_UPDATE");
                //console.log("SETUP_RESPONSE " + this.setupResponse);

                // Create a config object for SDK.
                var sdkConfigObj = {
                   context : 'test' // change it to 'live' when going live.
                };

                // Initiate the Checkout form.
                var checkout = chckt.checkout(this.setupResponse, '#your-payment-div', sdkConfigObj);
                //console.log("Div text = " + this.shadowRoot.querySelector('#your-payment-div').textContent);
                //console.log("Div text2= " + document.body.querySelector('#your-payment-div').textContent);
                //var checkout = chckt.checkout(this.setupResponse, this.shadowRoot.querySelector('#your-payment-div'), sdkConfigObj);


                chckt.hooks.beforeComplete = function(node, paymentData) {
                   // 'node' is a reference to the Checkout container HTML node.
                   // 'paymentData' is the result of the payment. Includes 'payload' variable,
                   // which you should submit to the server for the Checkout API /verify call.
                   return false; // Indicates that you want to replace the default handling.
                };
            }

        }
        customElements.define(PaymentView.is, PaymentView);

    </script>
</dom-module>

// EXAMINE DOM FOR HOLDER
//__contentDiv = DOM._selectOne(document.body, pEl);
//
//if(!__contentDiv){
//if(window.console && window.console.error){
//window.console.error("ERROR: Can not find a node to attach Checkout to.\nPlease pass in a valid selector for an HTML node to hold the checkout elements e.g. checkout.chckt(JSON_RECEIVED_FROM_SETUP_CALL, '#checkout-div')");
//return;
//}
//}

//DOM._selectOne = function ( root, selector ) {
//
//if(!root){
//return undefined;
//}
//
//return root.querySelector( selector );
//};